.stepper-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .stepper-item{
        position: relative;
        cursor: pointer;
        .stepper-item-outer {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .stepper-title { 
            position: absolute;
            display: inline-block;
            width: max-content;
            max-width: 200px;
            min-width: 200px;
            transform: translate(-37%, 5px);
            text-align: center;
            color: #b2b5b6;
        }
        .stepper-title-active {
            font-weight: bold;
            color: black;
        }
    }

}
.stepper-item-outer:nth-of-type(odd){
        border: 2px solid #b2b5b6;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        .stepper-item-inner {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1px;
            color: white;
            font-size: small;
        }
}

.stepper-item-outer:nth-of-type(even){
    height: 0px;
    border: 0.5px solid #b2b5b6;
    width: 15%;
}

.stepper-item-inner-future {
    background-color: #b2b5b6;
}
.stepper-item-inner-completed {
    background-color: #7fc8ef;
}
.stepper-item-inner-active {
    background-color: #007cc3;
}
